@font-face {
	font-family: "3d pixel";
	src: url("../fonts/3d-pixel.ttf");
}

@font-face {
	font-family: Pixel;
	src: url("../fonts/pixel.ttf");
}

:focus {
	outline: 0;
}

body {
    margin: 0;
	background-color: #eee;
	overflow: hidden;
	font-family: Pixel, serif;
	font-size: 22pt;
}

canvas {
    background: #eee;
    display: block;
}

.menu {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.menu-items {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}

.no-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.game-heading {
	display: flex;
	flex-direction: row;
}

.game-name {
	font-size: 90pt;
	font-family: "3d pixel", sans-serif;
}

.dialog-box {
	position: absolute;
	background-color: #eee;
	width: 50%;
	height: 40%;
	z-index: 10;
	left: 25%;
	top: 20%;
	box-shadow: 10px 10px 0 -4px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.dialog-box a {
	text-decoration: none;
	color: #777
}

.hidden {
	display: none;
}

.close-button {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 40px;
	cursor: pointer;
}

.centered-text {
	width: 90%;
	text-align: center;
}

.box-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(119, 119, 119, 0.8);
	z-index: 5;
}

#userName {
	padding: 5px 5px;
	margin: 5px;
	font-family: Pixel, sans-serif;
	font-size: 25px;
	width: 80%;
}

#userName:focus {
	margin: 0;
	border: 5px solid #000;
}

#gameStat{
	position: absolute;
	width: 100%;
	height: 10%;
	display: none;
	z-index: 10;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menu-button {
	background-color: #999;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	font-size: 22pt;
	box-shadow: 10px 10px 0 -5px rgba(0,0,0,0.75);
	cursor: pointer;
}

.menu-button:active {
	box-shadow: 10px 10px 0 -200px rgba(0,0,0,0.75);
	background-color: #777;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: -5px;
}

#startGameButton {
	background-color: #999;
	padding: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 25pt;
	box-shadow: 10px 10px 0 -4px rgba(0,0,0,0.75);
	cursor: pointer;
}

#startGameButton:active {
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 10px;
	background-color: #777;
	box-shadow: 10px 10px 0px -200px rgba(0,0,0,0.75);
}

#infoBox {
	width: 70%;
	margin-left: -10%;
}

.diff-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}

.difficulty label, .control label, .infinity-mode label {
	display: block;
	padding: 7px;
	margin: 5px;
	color: #555;
	border: 5px solid #eee;
	cursor: pointer;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
	border: 5px solid #000;
	color: #000;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.pointer {
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	body {
		font-size: 16pt;
	}

	.game-name {
		font-size: 50pt;
	}

	.dialog-box {
		width: 90%;
		left: 5%;
	}

	.menu-button {
		padding: 12px;
		font-size: 16pt;
	}

	#startGameButton {
		padding: 15px;
		font-size: 18pt;
	}

	.controls {
		display: none;
	}

	.diff {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	#infoBox {
		width: 90%;
		font-size: 12pt;
		margin-left: 0;
	}


}