<?xml version="1.0" encoding="utf-8" ?>
<config>
	<difficulties>
		<difficulty level="easy">
			<ballDx>1.0</ballDx>
			<ballDy>1.0</ballDy>
			<brickRows>4</brickRows>
			<brickColumns>8</brickColumns>
			<bonusesEnabled>true</bonusesEnabled>
			<moreBonuses>true</moreBonuses>
			<bonusDuration>15</bonusDuration>
			<life>5</life>
			<platformWidth>0.15</platformWidth>
			<platformStep>7</platformStep>
		</difficulty>
		<difficulty level="normal">
			<ballDx>1.2</ballDx>
			<ballDy>1.2</ballDy>
			<brickRows>5</brickRows>
			<brickColumns>10</brickColumns>
			<bonusesEnabled>true</bonusesEnabled>
			<moreBonuses>true</moreBonuses>
			<bonusDuration>15</bonusDuration>
			<life>3</life>
			<platformWidth>0.15</platformWidth>
			<platformStep>7</platformStep>
		</difficulty>
		<difficulty level="hard">
			<ballDx>1.5</ballDx>
			<ballDy>1.5</ballDy>
			<brickRows>5</brickRows>
			<brickColumns>10</brickColumns>
			<bonusesEnabled>true</bonusesEnabled>
			<moreBonuses>false</moreBonuses>
			<bonusDuration>10</bonusDuration>
			<life>2</life>
			<platformWidth>0.1</platformWidth>
			<platformStep>9</platformStep>
		</difficulty>
		<difficulty level="impossible">
			<ballDx>2.0</ballDx>
			<ballDy>2.0</ballDy>
			<brickRows>6</brickRows>
			<brickColumns>12</brickColumns>
			<bonusesEnabled>false</bonusesEnabled>
			<moreBonuses>false</moreBonuses>
			<life>1</life>
			<platformWidth>0.08</platformWidth>
			<platformStep>10</platformStep>
			<bonusDuration>0</bonusDuration>
		</difficulty>
	</difficulties>
</config>